* {
    margin: 0;
    padding: 0;
}

.home {
    perspective: 300px;
    width: 100%;
    position: relative;
}

.home_bgc {
    width: 100%; 
    height: auto; 
    max-height: 900px; 
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
    bottom: 0;
    color: #a70ae6df;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #fff; /* Adds a white shadow */
}


.titles {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    bottom: 0;
    color: #9825c6b5;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #fff;
}
.titless {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 250px;
    margin: auto;
    bottom: 0;
    color: #850bb57e;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #fff;
}



.ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 50px;
    left: 0px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    border: 1.5em solid #c080d9b0;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000000;
    text-decoration:none;
    height: 3.5em;
    overflow: hidden;
    font-weight: bold;
}

.ribbon span {
    background: hsla(318, 55%, 83%, 0.513);
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.me {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
    overflow: hidden;
    padding: 0 50px;
    margin-bottom: 20px;
}

.me_img_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%; 
    margin-right: 20px; 
}

.me_tit {
    width: 600px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 550;
}

.me_tit p {
    margin-bottom: 20px;  
}

.me_img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
}

.animate {
    padding-left: 20px;
    width: 500px;
    font-size: 16px;
    color: #989393;
    animation: 50s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}


.footer {
    background-color: #be52e154;
    color: #8c1ac1d0;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none; 
    padding: 10px 20px; 
    border: none;
    border-radius: 30px; 
    background-color: #ef9ad0be;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    opacity: 100%; 
    transition: all 0.5s; 
}

.back-to-top-button:hover {
    background: linear-gradient(to bottom,#ef9ad0be 5%, #ededed 100%);
    background-color: #ef9ad0be;
    opacity: 60%; 
}
.back-to-top-button.show {
    display: block; 
}